.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

.App::-webkit-scrollbar,
.App::-webkit-scrollbar-thumb {
  background-color: rgba(149, 205, 236, 0.25);
  border-radius: 10px;
  width: 10px;
}

.local-overview,
.global-overview {
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15),
    -2px -2px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background: var(--container-bg);
}

.global-overview h2 {
  font-size: 22px;
}

footer .icon {
  font-size: 14px;
  color: #00526beb;
  text-shadow: none;
}
