:root {
  --deep-purple-color: rgba(186, 190, 245);
  --mid-purple-color: rgba(192, 192, 245);
  --light-purple-color: rgba(218, 203, 246);
  --blue-color: rgb(66, 111, 182);
  --deep-blue-color: #0a95c0;
  --mid-blue-color: rgba(73, 177, 234, 0.33);
  --light-blue-color: rgba(149, 205, 236, 0.22);
  --font-color: #272144;
  --container-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  --box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15),
    -2px -2px 6px 1px rgba(0, 0, 0, 0.15);
  --icon-btn-shadow: 1px 1px 8px rgba(145, 145, 145, 0.15);
}
.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
footer .icon {
  font-size: 14px;
  color: #00526beb;
  text-shadow: none;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
  background-color: rgba(149, 205, 236, 0.25);
  border-radius: 10px;
  width: 10px;
}
