.Header h1 {
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
}

button i {
  color: #0a95c0;
  text-shadow: 1px 1px 8px rgba(145, 145, 145, 0.15);
  border: none;
}

.input-group input {
  font-size: 16px;
  border-color: #0a95c0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.input-group button {
  background-color: #f0f7f8;
  border: 1px solid #0a95c0;
  border-radius: 30px;
  padding: 5px 14px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.input-group button:hover {
  background-color: #0a95c0;
  border-color: #0a95c0;
}

.input-group button:hover i {
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
