h1 {
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
  color: var(--font-color);
}

h2 {
  font-size: 24px;
  font-weight: lighter;
}

h3 {
  font-size: 20px;
  font-weight: lighter;
}

ul {
  list-style-type: none;
  padding: 0;
}
small {
  font-size: 14px;
}

p {
  margin: 5px 10px;
}

a {
  color: var(--blue-color);
  transition: all 150ms ease-in;
  text-decoration: none;
}
a:hover {
  background: linear-gradient(rgba(212, 214, 254, 0.8), #9acedd);
  border-radius: 10px;
  padding: 2px 4px;
}

hr {
  margin: 0;
}
/*button*/
button i {
  color: #0a95c0;
  text-shadow: 1px 1px 8px rgba(145, 145, 145, 0.15);
  border: none;
}

.input-group input {
  font-size: 16px;
  border-color: #0a95c0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.input-group button {
  background-color: #f0f7f8;
  border: 1px solid var(--deep-blue-color);
  border-radius: 30px;
  padding: 5px 14px;
  box-shadow: var(--container-shadow);
}

.input-group button:hover {
  background-color: var(--deep-blue-color);
  border-color: var(--deep-blue-color);
}

.input-group button:hover i {
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.local-overview {
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  background: #fcfcfc;
}

.card {
  min-height: 230px;
  margin-top: 10px;
  box-shadow: var(--box-shadow);
}

.card li {
  font-size: 18px;
  background: var(--light-blue-color) 80%;
}

.temp-details .icon {
  font-size: 13px;
  color: var(--font-color);
  padding-left: 10px;
}

.sunrise-set-icon,
.sun-time .card,
.temp-details .card,
.current-weather {
  font-size: 17px;
  color: var(--font-color);
  text-shadow: none;
  background: var(--light-blue-color);
  border-radius: 10px;
}

#description-temp {
  text-transform: capitalize;
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.temp-now {
  font-size: 60px;
  line-height: 2;
  font-weight: 500;
}
.weatherIcon {
  height: 100px;
  width: 100px;
}
.toggle-temps {
  font-size: 18px;
  vertical-align: super;
  padding-left: 5px;
  font-weight: 600;
  margin-top: 34px;
}
.toggle-temps:hover {
  font-size: 20px;
}
#location {
  font-weight: bold;
}
