.WeatherForecast {
  overflow-x: scroll;
  overflow-y: visible;
  padding: 15px 10px 15px 10px;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.WeatherForecast::-webkit-scrollbar {
  display: none;
}

.WeatherForecast::-webkit-scrollbar {
  display: none;
}

.daily {
  border-radius: 10px;
  text-align: center;
  background-color: var(--light-blue-color);
  padding: 8px 20px;
  box-shadow: var(--box-shadow);
}

.daily:hover {
  background-color: var(--mid-blue-color);
  transform: scale(1.05);
}

.daily:hover .ForecastIcon {
  filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.4));
  transform: scale(1.1);
}

.ForecastDaily {
  text-transform: lowercase;
  font-weight: bold;
}

.ForecastTempLow {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .WeatherForecast {
    -ms-overflow-style: unset;
    scrollbar-width: unset;
  }

  .WeatherForecast::-webkit-scrollbar,
  .WeatherForecast::-webkit-scrollbar-thumb {
    background-color: rgba(149, 205, 236, 0.1);
    border-radius: 10px;
    height: 10px;
    display: unset;
  }
}
